@font-face {
  font-family: 'Distro';
  src: url('DISTROB_.ttf') format('truetype')

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  flex-wrap: wrap;
  background: #00542a;
}

.pantalla{
  display: block;
  background-color: #00542a;
}

.title {
  display: flex;
  justify-content: center;
}

.title img{
  height: 50px;
  margin-top: 50px;
}

.title h1{
  color: #F39200;
  font-family: "Distro";
  font-size: 3em;
  margin: 50px;
  text-align: center;
}

.Timer{
  text-align: center;
  position: relative;
  display: inline-block;
  text-align: center;
}

.time{
  position: absolute;
  top: 65px;
  left: 15px;
  font-family: "Distro";
  color: #F39200;
}

.memory-game {
  width: 960px;
  height: 320px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(16.6% - 10px);
  height: calc(50% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.back-face {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  width:  150px;
  height: 100%;
  /*display: flex;
  flex-wrap: wrap;
  padding: 5px;*/
  position: absolute;
  border-radius: 5px;
  background: #fff;
  backface-visibility: hidden;
}

#mensaje-jaguar, #mensaje-leoncillo, #mensaje-aguila, #mensaje-anaconda, #mensaje-tapir, #mensaje-delfin, #Atrás{
  
  position: fixed;
  z-index: 100;
  left: calc(50% - 320px);
  top: calc(50% - 80px);
  width: 640px;
  color: white;
  background-color: #00542a;
  font-family: "Distro";
  font-size: 2em;
  text-align: center;
  display: none;
}

#mensaje-jaguar img, #mensaje-leoncillo img, #mensaje-aguila img, #mensaje-anaconda img, #mensaje-tapir img, #mensaje-delfin img {
  width: 50px;
  float: right;
  }

#Atrás img{
  width: 120px;
}
