@font-face {
  font-family: "Distro";
  src: local("DISTROB_.ttf");
}

*{
	background-color: #ff8700;
}
button{
	display: block;
	color:#1a181d;
	background-color:white;
	font-family: "Distro";
	font-size: 2em;
	margin: auto;
}

#titulo-h1{
	display: block;
	text-align:center;
	color: white;
	font-family: "Distro";
	margin: auto;
	font-size: 3em;
}

img{
	display:block;
	margin:auto;
}

a{
	text-decoration: none;
}

b{
	display: block;
	text-align: center;
	color: white;
	font-family: "Distro";
	margin: auto;
	font-size: 1em;
}
