@font-face {
  font-family: 'Distro';
  src: local('DISTROB_.ttf') format('truetype')

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  flex-wrap: wrap;
  background: #00542a;
}
.pantalla{
  display: block;
  background-color: #00542a;
}
.title {
  display: flex;
  justify-content: center;
}

.title img{
  height: 50px;
  margin-top: 50px;
}

.title h1{
  color: #F39200;
  font-family: "Distro";
  font-size: 3em;
  margin: 50px;
  text-align: center;
}


.memory-game {
  width: 640px;
  height: 320px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(16.66% - 10px);
  height: calc(33.3% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.back-face {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  width: 95px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /*padding: 5px;*/
  position: absolute;
  border-radius: 5px;
  background: #fff;
  backface-visibility: hidden;
}

#mensaje-1, #mensaje-2, #mensaje-3, #mensaje-4, #mensaje-5, #mensaje-6, #mensaje-7, #mensaje-8, #mensaje-9, #Atrás{
  
  position: fixed;
  z-index: 100;
  left: calc(50% - 320px);
  top: calc(50% - 80px);
  width: 640px;
  color: white;
  background-color: #00542a;
  font-family: "Distro";
  font-size: 2em;
  text-align: center;
  display: none;
}

#mensaje-1 img, #mensaje-2 img, #mensaje-3 img, #mensaje-4 img, #mensaje-5 img, #mensaje-6 img, #mensaje-7 img, #mensaje-8 img, #mensaje-9 img{
  width: 50px;
  float: right;
}
#Atrás img{
  width: 120px;
}
